# Ignore Gradle project-specific cache directory
.gradle
.idea
.kotlin
.project
org.eclipse*
*.class
local.properties

# Ignore Gradle build output directory
build
.classpath
.cxx

#Ignore Maven Repo
matic_android_repo

target/*
*.hprof
